/*homepage css*/
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: #D1CAC0;
}
.content-1,
.content-2 {
    display: flex;
    gap: 8px;
    justify-content: center;
}
#aboutme-div,
#pets-div,
#learning {
    border: 15px solid #362204;
    margin: 5px;
    padding: 10px;
    width: 33%;
    background-color: #F5F5F5;
    flex: 1;
    max-width: 550px;
}

#pongo-img {
    width: 500px;
}

#projects,
#hobbies,
#contacts {
    border: 15px solid #362204;
    margin: 5px;
    padding: 10px;
    width: 33%;
    background-color: #F5F5F5;
    flex: 1;
    max-width: 550px;
}